.search-form {
    width: 100%;
    margin: 5rem auto 0;
    max-width: 500px;
}
.search-form input {
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    width: 100%;
    min-height: 40px;
    padding: 0 1.5rem;
    color: #fff;
    outline: none;
    font-size: 1.7rem;
}
.search-form input::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 1.5rem;
}